body, html {
  height: 100%;
  width: 100%;
}

.col-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.col {
  display: flex;
  flex-direction: column;
}

.img-container {
  margin: 50px auto;
}